.todo-form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.todo-form input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
  flex: 1;
}

.todo-form button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #61dafb;
  color: #fff;
  cursor: pointer;
}
